footer(id='footer')
	div
		section.template-contactame-contenedor
			template_contactame
		section.template_social_media_contenedor
			template_social_media

		p.copyright &copy; Javier Vergara 2022 - Todos los derechos reservados