#contactame
    h1.titulo.gordo {{text[engine.idiomaId].contactame}}

    form
        div(v-for="(item, index) in text[engine.idiomaId].campos" :class="index")
            //.contactame_input()
            h4 {{$filters.capitalize(item.elemento)}}
            input(v-if="index != exe" :type="item.type" :id='index' :placeholder="$filters.capitalize(item.elemento)" :autocomplete="item.autocomplete")
            <textarea v-else :id="index" :placeholder="$filters.capitalize(item.elemento)"></textarea>
            //template_contactame_inputs(:elemento="item")

        div.boton
            input(type="button" @click="submitForm()" :value="text[engine.idiomaId].submit")