header(id='header')
    div(id='template_header_perfil_contenedor' class='template contenedor')
        template_header_perfil_normal()

    div(id='template_header_main_contenedor')
        template_header_main

    div(id='template_header_nav_contenedor')
        template_header_nav_normal