

    /* -------------------------------- header_perfil - INICIO -------------------------------- */

    :root {
        --color-background-perfil: #fff;
    }

    #template_header_perfil {
        width: 100%;
        height: 100%;

        background: var(--color-background-perfil);

        display: flex;
        justify-content: center;
    }

    #template_header_perfil > div {
        width: 100%;
        height: 60px;
        max-width: var(--desktop-maxwidth);
        position: fixed;
        display: flex;
        justify-content: space-between;
    }
    #template_header_perfil > div > div.centro {
        height: 100%;
        display: flex;
        align-items: center;
    }
    #template_header_perfil > div > div.centro > a {
        height: 80%;
    }
    #template_header_perfil > div > div.centro > a > img{
        height: 100%;
    }
    #template_header_perfil > div > div.lateral {
        flex-grow: 1;
        flex-basis: 1%;
        flex-shrink: 1;
    }

    /* -------------------------------- header_perfil -  FIN   -------------------------------- */
    
    
    
    
    