div(id='header_nav')
    div
        div
            div(class="nab_items")
                h2 {{json[engine.idiomaId].about}}

        div
            div(class="nab_items")
                h2 {{json[engine.idiomaId].port}}

        div
            div(class="nab_items" id="prueba")
                h2 {{json[engine.idiomaId].blog}}